      <!-- Start Landing Page -->
      <div class="landing-page">
        <app-navbar></app-navbar>
        <div class="content">
          <div class="container">
            <div class="info">
              <h1>Dijital Bankacılığın Güvencesiyle</h1>
              <p>Bankacılık dünyasının dönüşümüne şahit oluyoruz. Artık bankalar, müşterilerine daha erişilebilir ve kişiselleştirilmiş hizmetler sunarak finansal geleceğe yatırım yapmalarını teşvik ediyorlar.
                 Bu yeni dönemde, dijital bankacılık çözümleri, bankacılık deneyimini kolaylıkla ve hızla erişilebilir hale getiriyor.</p>
              <button> <a routerLink="/about">Keşfet</a></button>
            </div>
            <div class="image">
              <img  src="https://www.puanharca.com/assets/images/blog/dijitalbanka2.jpg">
            </div>
          </div>
        </div>
      </div>
      <!-- End Landing Page -->
