<nav id="sidebar" class="sidebar-wrapper" *ngIf="userType===0">

    <!-- App brand starts -->
    <div class="app-brand px-3 py-2 d-flex align-items-center">
        <a href="">
            <img src="assets/images/logo.svg" class="logo" />
        </a>
    </div>
    <!-- App brand ends -->

    <!-- Sidebar menu starts -->
    <div class="sidebarMenuScroll">
        <ul class="sidebar-menu">
            <li>
                <a href="">
                    <i class="bi bi-pie-chart"></i>
                    <span class="menu-text">Dashboard</span>
                </a>
            </li>
            
            <li>
                <a href="">
                    <i class="bi bi-telephone"></i>
                    <span class="menu-text">Personeller</span>
                </a>
            </li>
            
            <li>
                <a href="">
                    <i class="bi bi-gear"></i>
                    <span class="menu-text">Müşteriler</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="bi bi-postcard"></i>
                    <span class="menu-text">Profilim</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Sidebar menu ends -->

</nav>

<nav id="sidebar" class="sidebar-wrapper" *ngIf="userType===1">

    <!-- App brand starts -->
    <div class="app-brand px-3 py-2 d-flex align-items-center">
        <a href="">
            <img src="assets/images/logo.svg" class="logo" />
        </a>
    </div>
    <!-- App brand ends -->

    <!-- Sidebar menu starts -->
    <div class="sidebarMenuScroll">
        <ul class="sidebar-menu">
            <li>
                <a href="">
                    <i class="bi bi-pie-chart"></i>
                    <span class="menu-text">Profilim</span>
                </a>
            </li>            
            <li>
                <a href="">
                    <i class="bi bi-pie-chart"></i>
                    <span class="menu-text">Dashboard</span>
                </a>
            </li>            
            <li>
                <a href="">
                    <i class="bi bi-postcard"></i>
                    <span class="menu-text">Hesabım</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="bi bi-postcard"></i>
                    <span class="menu-text">İşlemlerim</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Sidebar menu ends -->

</nav>

<nav id="sidebar" class="sidebar-wrapper" *ngIf="userType===2">

    <!-- App brand starts -->
    <div class="app-brand px-3 py-2 d-flex align-items-center">
        <a href="">
            <img src="assets/images/logo.svg" class="logo" />
        </a>
    </div>
    <!-- App brand ends -->

    <!-- Sidebar menu starts -->
    <div class="sidebarMenuScroll">
        <ul class="sidebar-menu">
            <li>
                <a href="">
                    <i class="bi bi-postcard"></i>
                    <span class="menu-text">Profilim</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="bi bi-pie-chart"></i>
                    <span class="menu-text">Dashboard</span>
                </a>
            </li>            
            <li>
                <a href="">
                    <i class="bi bi-postcard"></i>
                    <span class="menu-text">Müşteriler</span>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="bi bi-postcard"></i>
                    <span class="menu-text">Müşteri İşlemleri</span>
                </a>
            </li>
           
        </ul>
    </div>
    <!-- Sidebar menu ends -->

</nav>