	<!-- Page wrapper start -->
    <div class="page-wrapper">

        <!-- Main container start -->
        <div class="main-container">

            <!-- Sidebar wrapper start -->
          <app-sidebar></app-sidebar>
            <!-- Sidebar wrapper end -->

            <!-- App container starts -->
            <div class="app-container">

               <app-topbar></app-topbar>

                <!-- App body starts -->
                <div class="app-body">

                    <!-- Container starts -->
                    <div class="container-fluid">

                       <router-outlet></router-outlet>

                    </div>
                    <!-- Container ends -->

                </div>
                <!-- App body ends -->

                <!-- App footer start -->
                <div class="app-footer">
                    <span>2023 © Created by Bülent Karanfil </span>
                </div>
                <!-- App footer end -->

            </div>
            <!-- App container ends -->

        </div>
        <!-- Main container end -->

    </div>
    <!-- Page wrapper end -->
